<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head.html');%>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div class="container">
            <section id="seccion">
                <div class="my-5">
                    <div class="text-center">
                        <h1>Práctica Final</h1>
                        <h4>Aplicación Node.js utilizando EJS y MySQL. La aplicación está alojada en el servicio de AWS al igual que la base de datos.</h4>
                        <h3 class="my-5">Tecnologías</h3>
                        <div class="row" id="collage">
                            <div class="col-md-4 my-3"><img src="/img/node.png" alt="Node.js"></div>
                            <div class="col-md-4 my-3"><img src="/img/bootstrap.png" alt="Bootstrap"></div>
                            <div class="col-md-4 my-3"><img src="/img/aws.png" alt="AWS"></div>
                        </div>
                        <div class="row" id="collage">
                            <div class="col-md-6 my-3"><img src="/img/ejs.png" class="rounded-pill" alt="EJS"></div>
                            <div class="col-md-6 my-3"><img src="/img/mysql.png" alt="MySQL"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>