<!DOCTYPE html>
<html lang="en">
    <% 
    let contacto = {
        idContacto: '',
        nombre: '',
        domicilio: '',
        telefono: ''
    }
    if(consulta == 2) {
        contacto.idContacto = result.idContactos;
        contacto.nombre = result.nombre;
        contacto.domicilio = result.domicilio;
        contacto.telefono = result.telefono;  
    } %>
    <%-include('partials/head.html');%>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div class="container">
            <section id="seccion">
                <% if (message != '') { %>
                <div id="liveAlertPlaceholder">
                    <div class="mt-3 alert alert-<%= type %> alert-dismissible" role="alert"><%= message %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                </div>
                <% } %>
                <div class="container my-5 text-center">
                    <h2>Lista de contactos</h2>
                </div>
                <div class="container my-5">
                    <table class="table">
                        <thead>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Teléfono</th>
                        </thead>
                        <tbody id="datosTabla">
                            <% if(consulta == 1) {
                                results.forEach((contacto) => { %>
                                    <tr>
                                        <td><%= contacto.idContactos %></td>
                                        <td><%= contacto.nombre %></td>
                                        <td><%= contacto.domicilio %></td>
                                        <td><%= contacto.telefono %></td>
                                    </tr>
                                <% }) 
                            } %>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/getContacts" class="btn btn-dark" id="verContactos">Ver</a>
                        <a class="btn btn-dark" id="limpiar">Limpiar</a>
                    </div>
                    <div class="container my-5 text-center">
                        <h4>Agregar nuevo contacto</h4>
                    </div>
                    <form action="/insertContact" method="POST">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombre" required>
                            </div>
                            <div class="col-md-4">
                                <label for="domicilio" class="form-label">Domicilio</label>
                                <input type="text" class="form-control" name="domicilio" required>
                            </div>
                            <div class="col-md-4">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="text" class="form-control num" name="telefono" required>
                            </div>
                        </div>
                        <div class="my-3 d-grid d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-dark text-right">Agregar</button>
                        </div>
                    </form>
                    <div class="container my-5 text-center">
                        <h4>Modificar contacto</h4>
                    </div>
                    <form action="/getContactById/" method="GET">
                        <div class="mb-3 row">
                            <label for="idContacto" class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control num" name="idContacto" id="idContacto" value="<%= contacto.idContacto %>" required>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-dark" id="buscarContacto">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <form action="/updateContact" method="POST">
                        <input type="hidden" name="idContacto" value="<%= contacto.idContacto %>">
                        <div class="mb-3 row">
                            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label> 
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="nombre" id="nombreContacto" value="<%= contacto.nombre %>" <% if(consulta != 2) { %> disabled <% } %> required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="domicilio" class="col-sm-2 col-form-label">Domicilio</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="domicilio" value="<%= contacto.domicilio %>" <% if(consulta != 2) { %> disabled <% } %> required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control num" name="telefono" value="<%= contacto.telefono %>" <% if(consulta != 2) { %> disabled <% } %> required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Guardar</button>
                    </form>
                </div>
            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>