<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head.html');%>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div class="container">
            <section id="seccion">
                <div class="my-5">
                    <div class="text-center">
                        <img src="/img/logo.png" alt="Logo de UPSIN" class="mb-4">
                        <h1>Práctica Final</h1>
                        <h5><strong>Alumno:</strong> Carlos Ignacio Arámburo Lizárraga</h5>
                        <h5><strong>Matrícula:</strong> 2019030295</h5>
                        <h5><strong>Grupo:</strong> TCI 8-2</h5>
                        <h5><strong>Profesor:</strong> Dr. Ramón Patricio Velázquez Cuadras</h5>
                        <h5><strong>Asignatura:</strong> Tecnologías y Aplicaciones en Internet</h5>
                    </div>
                </div>
            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>